* {
  margin: 0;
  padding: 0;
}
.el-dialog__footer {
  text-align: center !important;
}
.drawer-custom .el-drawer__header {
  margin-bottom: 0 !important;
}
.drawer-custom .el-drawer__body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}
.drawer-custom .el-drawer__body .drawer-header {
  padding: 20px 20px 10px 20px;
  background-color: #fff !important;
  border-color: 1px solid #e6e6e6;
}
.drawer-custom .el-drawer__body .drawer-main {
  padding: 20px;
  background-color: #f5f6f9 !important;
  flex: 1;
  overflow: hidden;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.mt10 {
  margin-top: 10px;
}
.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
